# Creating a sample DataFrame

### Import Libraries

In [1]:
import pandas as pd

### Create DataFrame

In [2]:
df = pd.DataFrame({
    'A' : ['F', 'I', 'S', 'H'],
    'B' : ['L', 'I', 'O', 'N']
})

In [3]:
df

   A  B
0  F  L
1  I  I
2  S  O
3  H  N