##Part 1

In [1]:
import numpy as np
import pandas as pd
import re
import nltk

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data=pd.read_csv("/content/drive/My Drive/Colab_Notebooks/NLP/blogtext.csv")

In [3]:
data.head(10)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...
5,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",I had an interesting conversation...
6,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Somehow Coca-Cola has a way of su...
7,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004","If anything, Korea is a country o..."
8,3581210,male,33,InvestmentBanking,Aquarius,"10,June,2004",Take a read of this news article ...
9,3581210,male,33,InvestmentBanking,Aquarius,"09,June,2004",I surf the English news sites a l...

In [4]:
data.isna().any()

id        False
gender    False
age       False
topic     False
sign      False
date      False
text      False
dtype: bool

In [5]:
data.shape

(681284, 7)

> **Since there is huge volume of data, initial analysis can be done on a subset**

In [6]:
data=data.head(10000)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10000 non-null  int64
 1   gender  10000 non-null  object
 2   age     10000 non-null  int64
 3   topic   10000 non-null  object
 4   sign    10000 non-null  object
 5   date    10000 non-null  object
 6   text    10000 non-null  object
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [8]:
data.drop(['id','date'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
data['age']=data['age'].astype('object')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  10000 non-null  object
 1   age     10000 non-null  object
 2   topic   10000 non-null  object
 3   sign    10000 non-null  object
 4   text    10000 non-null  object
dtypes: object(5)
memory usage: 390.8+ KB

In [11]:
data['clean_data']=data['text'].apply(lambda x: re.sub(r'[^A-Za-z]+','',x))
data['clean_data']=data['clean_data'].apply(lambda x: x.lower())

In [12]:
print(f"Actual data   => {data['text'][1]}")

Actual data   =>            These are the team members:   Drewes van der Laag           urlLink mail  Ruiyu Xie                     urlLink mail  Bryan Aaldering (me)          urlLink mail

In [13]:
print(f"Cleaned data   => {data['clean_data'][1]}")
#This doesn't give desired format, hence using strip() function as below

Cleaned data   => thesearetheteammembersdrewesvanderlaagurllinkmailruiyuxieurllinkmailbryanaalderingmeurllinkmail

In [14]:
data['clean_data']=data['text'].apply(lambda x: re.sub(r'[^A-Za-z]+',' ',x)) #Adding space
data['clean_data']=data['clean_data'].apply(lambda x: x.lower())
data['clean_data']=data['clean_data'].apply(lambda x: x.strip())
print(f"Cleaned data   => {data['clean_data'][1]}")

Cleaned data   => these are the team members drewes van der laag urllink mail ruiyu xie urllink mail bryan aaldering me urllink mail

#### Removing all stop words

In [19]:
from nltk.corpus import stopwords
stopwords=set(stopwords.words('english'))
data['clean_data']=data['clean_data'].apply(lambda x: ' '.join([words for words in x.split() if words not in stopwords]))
data['clean_data'][6]

'somehow coca cola way summing things well early flagship jingle like buy world coke tune like teach world sing pretty much summed post woodstock era well add much sales catchy tune korea coke theme urllink stop thinking feel pretty much sums lot korea koreans look relaxed couple stopped thinking started feeling course high regard education math logic deep think many koreans really like work emotion anything else westerners seem sublimate moreso least display different way maybe scratch westerners koreans probably pretty similar context different anyways think losing korea repeat stop thinking feel stop thinking feel stop thinking feel everything alright'

In [20]:
data['labels']=data.apply(lambda col: [col['gender'],str(col['age']),col['topic'],col['sign']], axis=1)
data.head()

,gender,age,topic,sign,text,clean_data,labels
0,male,15,Student,Leo,"Info has been found (+/- 100 pages,...",info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,male,15,Student,Leo,These are the team members: Drewe...,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,male,15,Student,Leo,In het kader van kernfusie op aarde...,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,male,15,Student,Leo,testing!!! testing!!!,testing testing,"[male, 15, Student, Leo]"
4,male,33,InvestmentBanking,Aquarius,Thanks to Yahoo!'s Toolbar I can ...,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

In [21]:
data=data[['clean_data','labels']]
data.head()

,clean_data,labels
0,info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

In [22]:
X=data['clean_data']

In [23]:
Y=data['labels']

### Applying count vectorizer with bi-grams and tri-grams to get the count vectors of the x data

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer(binary=True, ngram_range=(1,2))
X=vectorizer.fit_transform(X)
X[1]

<1x643302 sparse matrix of type '<class 'numpy.int64'>'
	with 25 stored elements in Compressed Sparse Row format>

#### Printing some feature names

In [25]:
print(vectorizer.get_feature_names()[:10],'\n')
print(vectorizer.get_feature_names()[300000:300010],'\n')
print(vectorizer.get_feature_names()[-10:])

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['aa', 'aa amazing', 'aa anger', 'aa compared', 'aa keeps', 'aa nice', 'aa sd', 'aaa', 'aaa come', 'aaa discount']

['land laid', 'land lakes', 'land lax', 'land least', 'land leaving', 'land let', 'land liberty', 'land lifer', 'land lincoln', 'land lines']

['zzzzzz', 'zzzzzz wake', 'zzzzzzz', 'zzzzzzzzz', 'zzzzzzzzz good', 'zzzzzzzzzz', 'zzzzzzzzzz win', 'zzzzzzzzzzzz', 'zzzzzzzzzzzzz', 'zzzzzzzzzzzzzzz']

In [26]:
label_counts=dict()

for labels in data.labels.values:
    for l in labels:
        if l in label_counts:
            label_counts[l]+=1
        else:
            label_counts[l]=1

label_counts

{'13': 42,
 '14': 212,
 '15': 602,
 '16': 440,
 '17': 1185,
 '23': 253,
 '24': 655,
 '25': 386,
 '26': 234,
 '27': 1054,
 '33': 136,
 '34': 553,
 '35': 2315,
 '36': 1708,
 '37': 33,
 '38': 46,
 '39': 79,
 '40': 1,
 '41': 20,
 '42': 14,
 '43': 6,
 '44': 3,
 '45': 16,
 '46': 7,
 'Accounting': 4,
 'Aquarius': 571,
 'Aries': 4198,
 'Arts': 45,
 'Automotive': 14,
 'Banking': 16,
 'BusinessServices': 91,
 'Cancer': 504,
 'Capricorn': 215,
 'Communications-Media': 99,
 'Consulting': 21,
 'Education': 270,
 'Engineering': 127,
 'Fashion': 1622,
 'Gemini': 150,
 'HumanResources': 2,
 'Internet': 118,
 'InvestmentBanking': 70,
 'Law': 11,
 'LawEnforcement-Security': 10,
 'Leo': 301,
 'Libra': 491,
 'Marketing': 156,
 'Museums-Libraries': 17,
 'Non-Profit': 71,
 'Pisces': 454,
 'Publishing': 4,
 'Religion': 9,
 'Sagittarius': 1097,
 'Science': 63,
 'Scorpio': 971,
 'Sports-Recreation': 80,
 'Student': 1137,
 'Taurus': 812,
 'Technology': 2654,
 'Telecommunications': 2,
 'Virgo': 236,
 'female': 4084,
 'indUnk': 3287,
 'male': 5916}

In [27]:
from sklearn.preprocessing import MultiLabelBinarizer
binarizer=MultiLabelBinarizer(classes=sorted(label_counts.keys()))
Y=binarizer.fit_transform(data.labels)

In [28]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2)

In [29]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(solver='lbfgs')
model=OneVsRestClassifier(model)
model.fit(Xtrain,Ytrain)

OneVsRestClassifier(estimator=LogisticRegression())

In [30]:
Ypred=model.predict(Xtest)

In [31]:
Ypred_inversed = binarizer.inverse_transform(Ypred)
y_test_inversed = binarizer.inverse_transform(Ytest)

In [32]:
for i in range(5):
    print('Text:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        Xtest[i],
        ','.join(y_test_inversed[i]),
        ','.join(Ypred_inversed[i])
    ))

Text:	  (0, 593438)	1
  (0, 209803)	1
  (0, 292535)	1
  (0, 113776)	1
  (0, 334172)	1
  (0, 51214)	1
  (0, 305376)	1
  (0, 390349)	1
  (0, 546404)	1
  (0, 443367)	1
  (0, 613860)	1
  (0, 587702)	1
  (0, 624425)	1
  (0, 114261)	1
  (0, 189285)	1
  (0, 305633)	1
  (0, 390526)	1
  (0, 443413)	1
  (0, 485214)	1
  (0, 624474)	1
  (0, 167569)	1
  (0, 595384)	1
  (0, 107640)	1
  (0, 144376)	1
  (0, 609295)	1
  :	:
  (0, 417432)	1
  (0, 613958)	1
  (0, 443493)	1
  (0, 148858)	1
  (0, 181755)	1
  (0, 443494)	1
  (0, 210103)	1
  (0, 51913)	1
  (0, 609306)	1
  (0, 335085)	1
  (0, 417434)	1
  (0, 167637)	1
  (0, 587711)	1
  (0, 148859)	1
  (0, 107651)	1
  (0, 148860)	1
  (0, 485219)	1
  (0, 181756)	1
  (0, 292690)	1
  (0, 189304)	1
  (0, 181758)	1
  (0, 546622)	1
  (0, 181757)	1
  (0, 594876)	1
  (0, 402076)	1
True labels:	34,Sagittarius,female,indUnk
Predicted labels:	34,Sagittarius,female,indUnk


Text:	  (0, 551296)	1
  (0, 346618)	1
  (0, 551464)	1
  (0, 555727)	1
  (0, 128843)	1
  (0, 312628)	1
  (0, 226708)	1
  (0, 22273)	1
  (0, 571892)	1
  (0, 164559)	1
  (0, 564667)	1
  (0, 183118)	1
  (0, 309588)	1
  (0, 446544)	1
  (0, 477858)	1
  (0, 90309)	1
  (0, 597026)	1
  (0, 334172)	1
  (0, 630587)	1
  (0, 567161)	1
  (0, 525350)	1
  (0, 403052)	1
  (0, 505699)	1
  (0, 222683)	1
  (0, 611860)	1
  :	:
  (0, 553941)	1
  (0, 104409)	1
  (0, 144585)	1
  (0, 611438)	1
  (0, 434753)	1
  (0, 1062)	1
  (0, 521852)	1
  (0, 159834)	1
  (0, 219846)	1
  (0, 387983)	1
  (0, 497275)	1
  (0, 601360)	1
  (0, 381317)	1
  (0, 564729)	1
  (0, 151733)	1
  (0, 521855)	1
  (0, 300097)	1
  (0, 201037)	1
  (0, 90340)	1
  (0, 287001)	1
  (0, 22398)	1
  (0, 220763)	1
  (0, 274864)	1
  (0, 328819)	1
  (0, 522386)	1
True labels:	25,Taurus,female,indUnk
Predicted labels:	female


Text:	  (0, 263324)	1
  (0, 593438)	1
  (0, 100151)	1
  (0, 263406)	1
  (0, 113776)	1
  (0, 597026)	1
  (0, 6603)	1
  (0, 630587)	1
  (0, 567161)	1
  (0, 14389)	1
  (0, 475466)	1
  (0, 590847)	1
  (0, 491585)	1
  (0, 73967)	1
  (0, 390349)	1
  (0, 251204)	1
  (0, 335134)	1
  (0, 13869)	1
  (0, 26489)	1
  (0, 204171)	1
  (0, 381629)	1
  (0, 471879)	1
  (0, 171859)	1
  (0, 300859)	1
  (0, 272709)	1
  :	:
  (0, 398163)	1
  (0, 35042)	1
  (0, 251607)	1
  (0, 545595)	1
  (0, 263193)	1
  (0, 488959)	1
  (0, 411903)	1
  (0, 105809)	1
  (0, 471980)	1
  (0, 349725)	1
  (0, 623481)	1
  (0, 394199)	1
  (0, 14462)	1
  (0, 47126)	1
  (0, 491588)	1
  (0, 27230)	1
  (0, 397787)	1
  (0, 130414)	1
  (0, 391612)	1
  (0, 349706)	1
  (0, 290669)	1
  (0, 235938)	1
  (0, 272749)	1
  (0, 349703)	1
  (0, 252622)	1
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Text:	  (0, 312628)	1
  (0, 22273)	1
  (0, 319058)	1
  (0, 541965)	1
  (0, 113776)	1
  (0, 630587)	1
  (0, 567161)	1
  (0, 229515)	1
  (0, 332005)	1
  (0, 222683)	1
  (0, 341336)	1
  (0, 51214)	1
  (0, 586020)	1
  (0, 308208)	1
  (0, 194964)	1
  (0, 30652)	1
  (0, 382459)	1
  (0, 418326)	1
  (0, 215891)	1
  (0, 170072)	1
  (0, 372192)	1
  (0, 568960)	1
  (0, 390349)	1
  (0, 27587)	1
  (0, 440127)	1
  :	:
  (0, 145349)	1
  (0, 4697)	1
  (0, 86351)	1
  (0, 550854)	1
  (0, 23380)	1
  (0, 176226)	1
  (0, 581011)	1
  (0, 322852)	1
  (0, 61076)	1
  (0, 615097)	1
  (0, 338732)	1
  (0, 418468)	1
  (0, 630649)	1
  (0, 55885)	1
  (0, 417724)	1
  (0, 152266)	1
  (0, 143494)	1
  (0, 328344)	1
  (0, 287070)	1
  (0, 50361)	1
  (0, 320742)	1
  (0, 591511)	1
  (0, 143024)	1
  (0, 547482)	1
  (0, 305885)	1
True labels:	36,Aries,Fashion,male
Predicted labels:	female


Text:	  (0, 597566)	1
  (0, 222683)	1
  (0, 308208)	1
  (0, 448376)	1
  (0, 389210)	1
  (0, 627796)	1
  (0, 115987)	1
  (0, 12315)	1
  (0, 447643)	1
  (0, 638031)	1
  (0, 435796)	1
  (0, 563360)	1
  (0, 490184)	1
  (0, 310267)	1
  (0, 535544)	1
  (0, 638462)	1
  (0, 291506)	1
  (0, 337230)	1
  (0, 77313)	1
  (0, 62369)	1
  (0, 275788)	1
  (0, 598162)	1
  (0, 237068)	1
  (0, 438392)	1
  (0, 414108)	1
  :	:
  (0, 437306)	1
  (0, 622892)	1
  (0, 380031)	1
  (0, 448440)	1
  (0, 535591)	1
  (0, 237100)	1
  (0, 435848)	1
  (0, 337234)	1
  (0, 62420)	1
  (0, 448120)	1
  (0, 490231)	1
  (0, 628119)	1
  (0, 380028)	1
  (0, 77325)	1
  (0, 12380)	1
  (0, 437307)	1
  (0, 224131)	1
  (0, 380030)	1
  (0, 564103)	1
  (0, 389452)	1
  (0, 232432)	1
  (0, 414134)	1
  (0, 337250)	1
  (0, 275799)	1
  (0, 438397)	1
True labels:	36,Aries,Fashion,male
Predicted labels:	Aries,male

In [33]:
from sklearn.metrics import accuracy_score,f1_score,average_precision_score,recall_score,confusion_matrix

def print_evaluation_scores(Ytest, Ypred):
    print('Accuracy: ', accuracy_score(Ytest, Ypred))
    print('F1: ', f1_score(Ytest, Ypred, average='micro'))
    print('Average precision: ', average_precision_score(Ytest, Ypred, average='micro'))
    print('Average recall: ', recall_score(Ytest, Ypred, average='micro'))

In [34]:
print_evaluation_scores(Ytest, Ypred)

Accuracy:  0.312
F1:  0.6405099795097519
Average precision:  0.45951966027622176
Average recall:  0.5275

The classification report displays the precision, recall, F1, and support scores for the model.

Precision: Precision is the ability of a classiifer not to label an instance positive that is actually negative. For each class it is defined as as the ratio of true positives to the sum of true and false positives.

Recall : Recall is the ability of a classifier to find all positive instances. For each class it is defined as the ratio of true positives to the sum of true positives and false negatives.

Accuracy: Accuracy is the ratio of sum of true positives and true negatives to the total number of samples.

F1-Score:The F1 score is a weighted harmonic mean of precision and recall such that the best score is 1 and the worst is 0. As a rule of thumb, the weighted average of F1 should be used to compare classifier models, not global accuracy.Similar to arithmetic mean, the F1-score will always be somewhere in between precision and mean. But it behaves differently: the F1-score gives a larger weight to lower numbers. For example, when Precision is 100% and Recall is 0%, the F1-score will be 0%, not 50%. Or for example, say that Classifier A has precision=recall=80%, and Classifier B has precision=60%, recall=100%. Arithmetically, the mean of the precision and recall is the same for both models. But when we use F1 score, the score for Classifier A will be 80%, and for Classifier B it will be only 75%. Model B’s low precision score pulled down its F1-score.

Support : Support is the number of actual occurrences of the class in the specified dataset. Imbalanced support in the training data may indicate structural weaknesses in the reported scores of the classifier and could indicate the need for stratified sampling or rebalancing.

Macro-averaged, weighted avg and micro avg are the methods of combining the per-class F1-scores into a single number, which is the classifier’s overall F1-score.

##Part 2

In [35]:
import json
import random
from nltk.stem.lancaster import LancasterStemmer
stemmer = LancasterStemmer()

In [36]:
with open('/content/drive/My Drive/Colab_Notebooks/NLP/GL Bot.json') as file:
    corpus = json.load(file)

In [37]:
print(corpus.keys())

dict_keys(['intents'])

In [38]:
corpus

{'intents': [{'context_set': '',
   'patterns': ['hi',
    'how are you',
    'is anyone there',
    'hello',
    'whats up',
    'hey',
    'yo',
    'listen',
    'please help me',
    'i am learner from',
    'i belong to',
    'aiml batch',
    'aifl batch',
    'i am from',
    'my pm is',
    'blended',
    'online',
    'i am from',
    'hey ya',
    'talking to you for first time'],
   'responses': ['Hello! how can i help you ?'],
   'tag': 'Intro'},
  {'context_set': '',
   'patterns': ['thank you',
    'thanks',
    'cya',
    'see you',
    'later',
    'see you later',
    'goodbye',
    'i am leaving',
    'have a Good day',
    'you helped me',
    'thanks a lot',
    'thanks a ton',
    'you are the best',
    'great help',
    'too good',
    'you are a good learning buddy'],
   'responses': ['I hope I was able to assist you, Good Bye'],
   'tag': 'Exit'},
  {'context_set': '',
   'patterns': ['olympus',
    'explain me how olympus works',
    'I am not able to understand olympus',
    'olympus window not working',
    'no access to olympus',
    'unable to see link in olympus',
    'no link visible on olympus',
    'whom to contact for olympus',
    'lot of problem with olympus',
    'olypus is not a good tool',
    'lot of problems with olympus',
    'how to use olympus',
    'teach me olympus'],
   'responses': ['Link: Olympus wiki'],
   'tag': 'Olympus'},
  {'context_set': '',
   'patterns': ['i am not able to understand svm',
    'explain me how machine learning works',
    'i am not able to understand naive bayes',
    'i am not able to understand logistic regression',
    'i am not able to understand ensemble techb=niques',
    'i am not able to understand knn',
    'i am not able to understand knn imputer',
    'i am not able to understand cross validation',
    'i am not able to understand boosting',
    'i am not able to understand random forest',
    'i am not able to understand ada boosting',
    'i am not able to understand gradient boosting',
    'machine learning',
    'ML',
    'SL',
    'supervised learning',
    'knn',
    'logistic regression',
    'regression',
    'classification',
    'naive bayes',
    'nb',
    'ensemble techniques',
    'bagging',
    'boosting',
    'ada boosting',
    'ada',
    'gradient boosting',
    'hyper parameters'],
   'responses': ['Link: Machine Learning wiki '],
   'tag': 'SL'},
  {'context_set': '',
   'patterns': ['what is deep learning',
    'unable to understand deep learning',
    'explain me how deep learning works',
    'i am not able to understand deep learning',
    'not able to understand neural nets',
    'very diffult to understand neural nets',
    'unable to understand neural nets',
    'ann',
    'artificial intelligence',
    'artificial neural networks',
    'weights',
    'activation function',
    'hidden layers',
    'softmax',
    'sigmoid',
    'relu',
    'otimizer',
    'forward propagation',
    'backward propagation',
    'epochs',
    'epoch',
    'what is an epoch',
    'adam',
    'sgd'],
   'responses': ['Link: Neural Nets wiki'],
   'tag': 'NN'},
  {'context_set': '',
   'patterns': ['what is your name',
    'who are you',
    'name please',
    'when are your hours of opertions',
    'what are your working hours',
    'hours of operation',
    'working hours',
    'hours'],
   'responses': ['I am your virtual learning assistant'],
   'tag': 'Bot'},
  {'context_set': '',
   'patterns': ['what the hell',
    'bloody stupid bot',
    'do you think you are very smart',
    'screw you',
    'i hate you',
    'you are stupid',
    'jerk',
    'you are a joke',
    'useless piece of shit'],
   'responses': ['Please use respectful words'],
   'tag': 'Profane'},
  {'context_set': '',
   'patterns': ['my problem is not solved',
    'you did not help me',
    'not a good solution',
    'bad solution',
    'not good solution',
    'no help',
    'wasted my time',
    'useless bot',
    'create a ticket'],
   'responses': ['Tarnsferring the request to your PM'],
   'tag': 'Ticket'}]}

In [39]:
nltk.download('punkt')
words, labels,x,y = [],[],[],[]

for intent in corpus['intents']:
    for pattern in intent['patterns']:
        w_temp = nltk.word_tokenize(pattern)
        words.extend(w_temp)
        x.append(w_temp)
        y.append(intent["tag"])
    
    # Add the mising tag if any    
    if intent['tag'] not in labels:
      labels.append(intent['tag'])

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [40]:
words = [stemmer.stem(w.lower()) for w in words if w != "?"] # Stemming or learning the root word
words = sorted(list(set(words))) # Sorted words
labels = sorted(labels)

In [41]:
labels

['Bot', 'Exit', 'Intro', 'NN', 'Olympus', 'Profane', 'SL', 'Ticket']

In [42]:
words

['a',
 'abl',
 'access',
 'act',
 'ad',
 'adam',
 'aifl',
 'aiml',
 'am',
 'an',
 'anyon',
 'ar',
 'art',
 'backward',
 'bad',
 'bag',
 'batch',
 'bay',
 'belong',
 'best',
 'blend',
 'bloody',
 'boost',
 'bot',
 'buddy',
 'class',
 'contact',
 'cre',
 'cross',
 'cya',
 'day',
 'deep',
 'did',
 'diffult',
 'do',
 'ensembl',
 'epoch',
 'explain',
 'first',
 'for',
 'forest',
 'forward',
 'from',
 'funct',
 'good',
 'goodby',
 'grady',
 'gre',
 'hat',
 'hav',
 'hel',
 'hello',
 'help',
 'hey',
 'hi',
 'hid',
 'hour',
 'how',
 'hyp',
 'i',
 'imput',
 'in',
 'intellig',
 'is',
 'jerk',
 'jok',
 'knn',
 'lat',
 'lay',
 'learn',
 'leav',
 'link',
 'list',
 'log',
 'lot',
 'machin',
 'me',
 'ml',
 'my',
 'naiv',
 'nam',
 'nb',
 'net',
 'network',
 'neur',
 'no',
 'not',
 'of',
 'olymp',
 'olyp',
 'on',
 'onlin',
 'op',
 'opert',
 'otim',
 'paramet',
 'piec',
 'pleas',
 'pm',
 'problem',
 'prop',
 'random',
 'regress',
 'relu',
 'screw',
 'see',
 'sgd',
 'shit',
 'sigmoid',
 'sl',
 'smart',
 'softmax',
 'solv',
 'stupid',
 'superv',
 'svm',
 'talk',
 'teach',
 'techb=niques',
 'techn',
 'thank',
 'the',
 'ther',
 'think',
 'ticket',
 'tim',
 'to',
 'ton',
 'too',
 'tool',
 'un',
 'understand',
 'up',
 'us',
 'useless',
 'valid',
 'very',
 'vis',
 'wast',
 'weight',
 'what',
 'when',
 'who',
 'whom',
 'window',
 'with',
 'work',
 'ya',
 'yo',
 'you']

In [43]:
Train = [] 
Target = [] 

empty = [0 for _ in range(len(labels))]

for i, doc in enumerate(x):
    bag = []

    w_temp = [stemmer.stem(w.lower()) for w in doc]

    for w in words:
        if w in w_temp:
            bag.append(1)
        else:
            bag.append(0)

    output_row = empty[:]
    output_row[labels.index(y[i])] = 1

    Train.append(bag)
    Target.append(output_row)

In [44]:
Train = np.array(Train)
Target = np.array(Target)

In [45]:
from sklearn.model_selection import train_test_split
X_train_scaled, X_test_scaled, y_train, y_test = train_test_split(Train, Target, test_size=0.2, random_state=1)

In [46]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier(n_estimators=100,criterion='gini',min_samples_split=2,min_samples_leaf=1,max_features='auto')
model_rf.fit(X_train_scaled, y_train)

pred_rf = model_rf.predict(X_test_scaled)
rf_Train = model_rf.score(X_train_scaled, y_train)
rf_Test = accuracy_score(y_test, pred_rf)

print("Train Accuracy:",rf_Train)
print("Test Accuracy:",rf_Test)

Train Accuracy: 1.0
Test Accuracy: 0.4230769230769231

In [47]:
def BOW(sent, word):  #Passing words variable in function parameter will be useful to run chatbot outside main code, by saving words variable and using separately.
    bag = [0 for _ in range(len(word))]

    s_words = nltk.word_tokenize(sent)
    s_words = [stemmer.stem(word.lower()) for word in s_words]

    for s in s_words:
        for i, w in enumerate(word):
            if w == s:
                bag[i] = 1
            
    return np.array(bag)


def chatbot():
    print("Chat with Agent Bot (type: quit to exit)")
    print("If answer is not clear, type ?")
    while True:
        inp = input("\nMe: ")
        if inp.lower()=="?":
            print("\nBOT: Kindly rephrase your question.")
            continue
        if inp.lower() == "quit":
            break

        res = model_rf.predict([BOW(inp, words)])
        res_index = np.argmax(res)
        tag = labels[res_index]

        for t in corpus["intents"]:
            if t['tag'] == tag:
                response = t['responses']

        print(random.choice(response))

In [48]:
chatbot()

Chat with Agent Bot (type: quit to exit)
If answer is not clear, type ?

Me: Hi
Hello! how can i help you ?

Me: Who is this?
I am your virtual learning assistant

Me: Problem in Olympus
Link: Olympus wiki

Me: How to login
I am your virtual learning assistant

Me: ?

BOT: Kindly rephrase your question.

Me: Help me with Entropy
I am your virtual learning assistant

Me: SVM materials
I am your virtual learning assistant

Me: Help me with SVM
I am your virtual learning assistant

Me: Not able to understand SVM
Link: Machine Learning wiki

Me: Quit