In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
cp '/content/drive/MyDrive/kaggle.json' '/root/.kaggle/'

In [13]:
! kaggle datasets download rtatman/blog-authorship-corpus

Downloading blog-authorship-corpus.zip to /content
100% 290M/290M [00:02<00:00, 128MB/s]
100% 290M/290M [00:02<00:00, 123MB/s]

In [14]:
! unzip '/content/blog-authorship-corpus.zip'

Archive:  /content/blog-authorship-corpus.zip
  inflating: blogtext.csv

In [1]:
import pandas as pd

df = pd.read_csv('/content/blogtext.csv')

In [2]:
df.head(3)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...

In [3]:
df.isnull().sum()

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

In [4]:
import re
df.text = df.text.apply(lambda x: x.lower())
df.text = df.text.apply(lambda x: x.strip())
df.text = df.text.apply(lambda x: re.sub('[^A-Za-z]+', ' ', x))

In [5]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
df.text = df.text.apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords]))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
df.text[10]

'ah korean language looks difficult first figure read hanguel korea surprisingly easy learn alphabet characters seems easy vocabulary starts oh backwards us sentence structure yikes luckily many options us slow witted foreigners take language course could list urllink joongang article says lot resources urllink well guy motivation jeon ji hyun latest something actually star movies cfs hear means commercial feature positive saw latest movie sunday night hard describe name english version windstruck korean version yeochinso short ne yeojachingu rul sogayhamnida like introduce girlfriend surprisingly titles make sense like website korean english looks quite good actually urllink movie shown theatres subtitles special times info urllink list many theatres seoul click urllink urllink great reason learn korean already married went foreigners well local korean national course korean take picture put urllink movie hof bar update bud mine passed urllink link giordano ad apparently aired korea nothing xxx sensibilities sort'

In [7]:
df['labels'] = df.apply(lambda row: [row['gender'], str(row['age']), row['topic'], row['sign']], axis=1)

In [9]:
df.head(3)

                                                text                    labels
0  info found pages mb pdf files wait untill team...  [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...  [male, 15, Student, Leo]
2  het kader van kernfusie op aarde maak je eigen...  [male, 15, Student, Leo]

In [8]:
df = df[['text','labels']]

In [10]:
df.head(3)

                                                text                    labels
0  info found pages mb pdf files wait untill team...  [male, 15, Student, Leo]
1  team members drewes van der laag urllink mail ...  [male, 15, Student, Leo]
2  het kader van kernfusie op aarde maak je eigen...  [male, 15, Student, Leo]

In [11]:
df.head()

,text,labels
0,info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.text.values, df.labels.values, test_size=0.40, random_state=42)

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(binary=True, ngram_range=(1, 2))

In [14]:
X_train_bow = vectorizer.fit_transform(X_train)

In [15]:
X_test_bow = vectorizer.transform(X_test)

In [16]:
X_train_bow = list(X_train_bow)

In [17]:
label_counts = dict()

for labels in df.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[label] += 1
        else:
            label_counts[label] = 1

In [18]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer(classes=sorted(label_counts.keys()))
y_train = mlb.fit_transform(y_train)
y_test = mlb.transform(y_test)

In [19]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(solver='lbfgs')
clf = OneVsRestClassifier(clf)

In [47]:
svm.fit(np.array(X_train_bow, dtype = int), y_train)

AttributeError: ignored

In [46]:
predicted_labels = svm.predict(X_test_bow)

AttributeError: ignored

### Get inverse transform for predicted labels and test labels

In [ ]:
pred_inversed = mlb.inverse_transform(predicted_labels)
y_test_inversed = mlb.inverse_transform(y_test)

### Print some samples

In [ ]:
for i in range(5):
    print('Title:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        X_test[i],
        ','.join(y_test_inversed[i]),
        ','.join(pred_inversed[i])
    ))

Title:	pink already done sure phoenix tho
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Title:	woohoo tomorrow probably means need clean place bit uh oh since jen going get car able least grab furniture somewhere sit timed perfectly pool opening weekend slaving away work lie pool fight cicadas got hdtv cable hookup unfortunately demand function seems broken meantime get early today someone come look brighter side things techie managed blag two u dual piii machines free swap mobo reasonable case hook home idea use yet betting munch seti units meantime figure one last thing hell alt gr button us keyboards annoys type alt euro symbol remember code accented e etc know could change keymap uk whatever alt gr option something end rant
True labels:	25,Aries,Internet,male
Predicted labels:	male


Title:	actually johnathan called late last night sounding groggy thanking something could barely make innane babble wondering saying hoped guess name
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Title:	yesterday driving somewhere mongolia crossed mind realized knew nothing country vague notion one point history mongol hordes swept across land killing bunch people stuff got beat back become hermits last time rememberanything happeneing anything world never mongolia started thinking portugal never hear anything portugal either understand mongolia way hell way near siberia may even part russia china days portugal man right edge europe never hear anything mean anything portugal remember talking wwii school leraned spain neutral war knew pretty much every european country stood every one aside portugal happened vanish age exploration anyone bothered check since obviously internet right know could read places would easy think time v started informing us countries really talk already need hear mongolia portugal estonia others know name never hear stop geographical elitism
True labels:	26,Leo,indUnk,male
Predicted labels:	male


Title:	inhale ohjesushchristadogwithacrayonsignaroundhisneckgoingofftokillsarahconnorohdeargodthatsafunnyimage ehxhale
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male

## Calculate accuracy
- Accuracy
- F1-score
- Precision
- Recall

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import recall_score

def print_evaluation_scores(y_val, predicted):
    print('Accuracy score: ', accuracy_score(y_val, predicted))
    print('F1 score: ', f1_score(y_val, predicted, average='micro'))
    print('Average precision score: ', average_precision_score(y_val, predicted, average='micro'))
    print('Average recall score: ', recall_score(y_val, predicted, average='micro'))

In [ ]:
print('Bag-of-words')
print_evaluation_scores(y_test, predicted_labels)

Bag-of-words
Accuracy score:  0.5233333333333333
F1 score:  0.7215575885526625
Average precision score:  0.5596074546125939
Average recall score:  0.6408333333333334